program: Main.py
command:
  - ${env}
  - python
  - ${program}
  - ${args}
method: grid
metric:
  name: final/test_accuracy
  goal: maximize
parameters:
  layers:
    values:
      - "784,100,10"   # 1 hidden layer, width 100
      - "784,200,10"   # 1 hidden layer, width 200
      - "784,400,10"   # 1 hidden layer, width 400
      - "784,800,10"   # 1 hidden layer, width 800
      - "784,1600,10"  # 1 hidden layer, width 1600
      - "784,2000,10"  # 1 hidden layer, width 2000
  no-cuda:
    values:
      - true   # Disable CUDA
      - false  # Enable CUDA (default)
  seed:
    values:
      - 42
      - 123
      - 456
      - 789
      - 1011
      - 1213
      - 1415
      - 1617
      - 1819
      - 2021
  rep-epochs:
    value: 20
  softmax-epochs:
    value: 20
  train-batch-size:
    value: 512
