program: Main.py
command:
  - ${env}
  - python
  - ${program}
  - ${args}
method: grid
metric:
  name: final/test_accuracy
  goal: maximize
parameters:
  dataset:
    values:
      - MNIST
      - FMNIST
      - SVHN
      - CIFAR10
  layers:
    values:
      - "784,100,10"   # 1 hidden layer, width 100 (MNIST/FMNIST)
      - "784,500,10"   # 1 hidden layer, width 500 (MNIST/FMNIST)
      - "784,1000,10"  # 1 hidden layer, width 1000 (MNIST/FMNIST)
      - "784,2000,10"  # 1 hidden layer, width 2000 (MNIST/FMNIST)
      - "784,3000,10"  # 1 hidden layer, width 3000 (MNIST/FMNIST)
      - "784,4000,10"  # 1 hidden layer, width 4000 (MNIST/FMNIST)
      - "784,5000,10"  # 1 hidden layer, width 5000 (MNIST/FMNIST)
  no-cuda:
    values:
      - true   # Disable CUDA
      - false  # Enable CUDA (default)
  seed:
    values:
      - 42
      - 123
      - 456
  rep-epochs:
    value: 20
  softmax-epochs:
    value: 20
  train-batch-size:
    value: 512
